@font-face {
    font-family: bold;
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: demi;
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
    font-family: regular;
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
