@use './variables' as *;
@use './mixins' as *;
@use './font' as *;

* {
    margin: 0;
    padding: 0;
    font-family: $font-stack; 
}


.nav {
    display: flex; 
    flex-direction: column;
    background-color: $bandsite-black;
    color: $gallery-background;
    font-family: $font-stack; 
    font-weight: 400; 

    @include tablet {
        flex-direction: row; 
        padding: 0 0 0 4.68vw;     
    }

    &__title {
        display: flex; 
        justify-content: center;
        align-items: center; 
        font-family: $font-stack; 
        font-weight: 400; 
        font-size: 2rem; 
        line-height: 1rem; 
    }

    &__list {
        display: flex;
        width: 100%; 
        
        &-items {
            width: 50%;
            font-family: $font-stack;
            font-weight: 600; 
            font-size: 1rem; 
            padding: 1rem; 
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none; 
            color: $alabaster;

            @include tablet {
                width: auto;
                padding: 4.68vw; 
            }

            &--hover:hover {
                border-bottom: 1px white solid; 
                color: white; 
             
            }

            &--active:active {
                border-bottom: 1px white solid; 
                color:white; 
            }
        }
    }    
}

.nav__title a {
    text-decoration: none; 
    color: white; 
}

.band {
    display: flex; 
    flex-direction: column;
    
    &__title {
        color: $bandsite-black;
        width: 100%; 
        height: auto; 
        box-sizing: content-box;
        align-content: center;
        font-family: $font-stack;       
        font-weight: 600; 
    }
}

.description {
    font-family: $font-stack; 
    font-weight: 400; 
}

.paragraph {
    font-family: $font-stack; 
    font-weight: 400; 
}

.footer {
    padding: 7.5vw 5vw 5vw 5vw;
    width: 100vw;  
    box-sizing: border-box;  
    background: $bandsite-black;
    color: white;  
    
    @include tablet {
        display: flex; 
        flex-direction: column; 
        padding: 2rem 4.688vw 4.688vw 4.688vw; 
    }
    
    &__top {
        font-size: 1.25rem;  
        font-family: $font-stack; 
        font-weight: 600; 
        width: 90vw; 
        
        @include tablet {
            display: flex; 
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            @include tablet {
                display:flex; 
            }
        }
    }
    
    &__title {
        padding: 0 0 0 5vw;
        font-size: 3rem;  

        @include tablet {
            font-size: 3rem; 
            padding: 1.75rem 0.6rem 0 4.688vw;
        }
    }

    &__title-bandsite {
        display: none; 

        @include tablet {
            font-family: $font-stack; 
            font-weight: 400; 
            display: block; 
            vertical-align: bottom;
            font-size: 1.75rem;  
            padding: 4.688vw; 
        }
    }

    &__logo-image {
        height: 2rem; 
        width: 2rem; 
        padding: 5vw;

        @include tablet {
            justify-content: center;
            padding: 2.25rem 1rem 2.25rem 2.25rem;  
        }
    }

    &__contact {
        font-family: $font-stack;

        @include tablet {
            display: flex; 
            width: 100vw; 
        }
    
        &-info {
            font-family: $font-stack;
            padding: 0 0 4.68vw 4.65vw;  
            font-size: 0.875rem; 

            @include tablet {
                width:26vw; 
            }
        }

        &-info h2 {
            font-family: $font-stack;
            line-height: 1.75rem; 
        }

        &-info p {
            font-family: $font-stack;
            line-height: 1.5rem; 
        }

        &-info-subsection{
            padding: 1rem 0 1rem 0; 
        }
    }

    &__bottom-header {
        font-family: $font-stack; 
        font-weight: 400; 
        padding: 5vw;
        font-size: 1.75rem; 
        
        @include tablet {
            display: none; 
        }
    }

    &__copy-right {
        padding: 0 5vw 5vw 5vw;
        font-family: $font-stack;
        font-weight: 400;  
        font-size: 0.75rem;            
    }

}