@use "./variables" as *;

@mixin tablet {
    @media (min-width: $tablet-breaking-point) {
      @content;
    }
  }

@mixin desktop {
    @media (min-width: $desktop-breaking-point) {
      @content;
    }
  }

@mixin font-small {
    font-size: 0.625rem;
}

@mixin width {
    width: 70%; 
    height: 70%; 
}

@mixin band-alignment {
    justify-content: center;
    flex-direction: column; 
    align-self: center; 
}

@mixin mobile-page-section-header {
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 700;
}

@mixin mobile-subheader {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 600; 
}

@mixin mobile-body-footer {
    font-size: 0.8125rem; 
    line-height: 1.125rem; 
    font-weight: 400; 
}

@mixin mobile-labels-buttons {
    font-size: 0.625rem; 
    line-height: 1.25rem; 
    font-weight: 700; 
}

@mixin tablet-page-header {
    font-size: 3.75rem; 
    line-height: 4.25rem; 
    font-weight: 700; 
}

@mixin tablet-section-header {
    font-size: 2.25rem; 
    line-height: 2.75rem; 
    font-weight: 700; 
}

@mixin tablet-subheader {
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 600; 
}

@mixin tablet-body {
    font-size: 0.875rem; 
    line-height: 1.375rem; 
    font-weight: 400; 
}

@mixin tablet-footer {
    font-size: 0.875rem; 
    line-height: 1.25rem; 
    font-weight: 400; 
}

@mixin tablet-labels-buttons {
    font-size: 0.75rem; 
    line-height: 1.25rem; 
    font-weight: 700; 
}