$tablet-breaking-point: 48rem; 
$desktop-breaking-point: 64rem;
$background-width: 100%;
$bandsite-black: #323232;
$alabaster: #FAFAFA;
$mercury:#AFAFAF;
$padding-mobile-header: 1.5rem 1rem 1rem 1rem; 
$padding-mobile: 0 1rem 1rem 1rem; 
$padding-desktop-header: 3rem 2.25rem 2.25rem 2.25rem;
$padding-desktop: 0 2.25rem 2.25rem 2.25rem;
$gallery-background: #e1e1e1;   




