@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #e1e1e1;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .nav {
    flex-direction: row;
    padding: 4.68vw;
  }
}
.nav__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1rem;
}
.nav__list {
  display: flex;
  width: 100%;
}
.nav__list-items {
  width: 50%;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #FAFAFA;
}
@media (min-width: 48rem) {
  .nav__list-items {
    width: auto;
    padding: 0 4.68vw 0 4.68vw;
  }
}
.nav__list-items--hover:hover {
  border-bottom: 1px white solid;
  color: white;
}
.nav__list-items--active:active {
  border-bottom: 1px white solid;
  color: white;
}

.band {
  display: flex;
  flex-direction: column;
}
.band__title {
  color: #323232;
  width: 100%;
  height: auto;
  box-sizing: content-box;
  align-content: center;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
}

.description {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}

.paragraph {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}

.footer {
  padding: 7.5vw 5vw 5vw 5vw;
  width: 100vw;
  box-sizing: border-box;
  background: #323232;
  color: white;
}
@media (min-width: 48rem) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 4.688vw 4.688vw 4.688vw;
  }
}
.footer__top {
  font-size: 1.25rem;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  width: 90vw;
}
@media (min-width: 48rem) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 48rem) {
  .footer__top-logo {
    display: flex;
  }
}
.footer__title {
  padding: 0 0 0 5vw;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 3rem;
    padding: 1.75rem 0.6rem 0 4.688vw;
  }
}
.footer__title-bandsite {
  display: none;
}
@media (min-width: 48rem) {
  .footer__title-bandsite {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    display: block;
    vertical-align: bottom;
    font-size: 1.75rem;
    padding: 4.688vw;
  }
}
.footer__logo-image {
  height: 2rem;
  width: 2rem;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .footer__logo-image {
    justify-content: center;
    padding: 2.25rem 1rem 2.25rem 2.25rem;
  }
}
.footer__contact {
  font-family: "Avenir", sans-serif;
}
@media (min-width: 48rem) {
  .footer__contact {
    display: flex;
    width: 100vw;
  }
}
.footer__contact-info {
  font-family: "Avenir", sans-serif;
  padding: 0 0 4.68vw 4.65vw;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .footer__contact-info {
    width: 26vw;
  }
}
.footer__contact-info h2 {
  font-family: "Avenir", sans-serif;
  line-height: 1.75rem;
}
.footer__contact-info p {
  font-family: "Avenir", sans-serif;
  line-height: 1.5rem;
}
.footer__bottom-header {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  padding: 5vw;
}
@media (min-width: 48rem) {
  .footer__bottom-header {
    display: none;
  }
}
.footer__copy-right {
  padding: 0 5vw 5vw 5vw;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
}

.hero__title {
  font-family: "Avenir", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background-size: 100% 100%;
  background-repeat: none;
  color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.357), rgba(0, 0, 0, 0.5)), url(/assets/images/hero-bio.jpg);
  width: 100%;
  height: 20rem;
}
@media (min-width: 48rem) {
  .hero__title {
    height: 30rem;
    font-size: 3.75rem;
  }
}
@media (min-width: 64rem) {
  .hero__title {
    height: 45rem;
  }
}

.band {
  color: #323232;
  width: 100%;
  height: auto;
  box-sizing: content-box;
  align-content: center;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .band {
    display: flex;
    flex-direction: column;
  }
}
.band__title {
  font-size: 2rem;
  padding: 7vw 5vw 5vw 5vw;
}
@media (min-width: 48rem) {
  .band__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 6.25vw 4.688vw 4.688vw 4.688vw;
  }
}
.band__image {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 90%;
  padding: 0 5vw 5vw 5vw;
}
@media (min-width: 48rem) {
  .band__image {
    padding: 0 4.688vw 4.688vw 4.688vw;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70%;
    height: 70%;
  }
}
.band__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .band__info {
    padding: 0 4.688vw;
  }
}
.band__quote {
  font-family: "Avenir", sans-serif;
  font-size: 600;
  font-size: 1.25rem;
  padding: 0 5vw;
}
@media (min-width: 48rem) {
  .band__quote {
    width: 70%;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 1rem;
  }
}
.band__quote-signature {
  font-family: "Avenir", sans-serif;
  font-size: 600;
  font-size: 1.25rem;
  padding: 0 5vw 5vw 5vw;
}
@media (min-width: 48rem) {
  .band__quote-signature {
    font-size: 1rem;
    padding: 0 4.688vw;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 70%;
    height: 70%;
  }
}

.description {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .description {
    width: 70%;
    height: 70%;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0 4.688vw;
    width: 100%;
  }
}
.description__title {
  padding: 0 5vw 5vw 5vw;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .description__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    padding: 6.25vw 4.688vw 2rem 4.688vw;
    width: 70%;
  }
}
.description__image {
  padding: 0 1rem 1rem 1rem;
}
.description__paragraph {
  padding: 0 5vw 5vw 5vw;
  width: auto;
}
@media (min-width: 48rem) {
  .description__paragraph {
    justify-content: center;
    flex-direction: column;
    align-self: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 100%;
    padding: 0 2rem 2rem 0;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}
@media (min-width: 48rem) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 4.68vw 0 4.68vw;
  }
}
.gallery__title {
  align-self: flex-start;
  padding: 7.5vw 5vw 5vw 5vw;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: demi;
}
@media (min-width: 48rem) {
  .gallery__title {
    padding: 6.25vw 4.68vw 4.68vw 4.68vw;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.gallery__images {
  width: 100%;
  height: auto;
  padding: 0 5vw 5vw 5vw;
}
@media (min-width: 48rem) {
  .gallery__images {
    padding: 0 2.25rem 2.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 4.68vw 4.68vw 4.68vw;
  }
}
@media (min-width: 48rem) {
  .gallery__images-sub {
    display: flex;
    justify-content: center;
  }
}
.gallery__images-1 {
  width: 92%;
  height: auto;
  padding: 0 0 1rem 1rem;
}
@media (min-width: 48rem) {
  .gallery__images-1 {
    width: 30%;
    padding: 0 0 1rem 1rem;
  }
}

@media (min-width: 48rem) {
  .paragraph {
    display: flex;
    align-self: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70%;
    height: 50%;
  }
}

@media (min-width: 48rem) {
  .new-comments {
    display: flex;
    justify-content: center;
  }
}
.new-comments-section {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px #AFAFAF solid;
  padding: 5vw;
  box-sizing: border-box;
}
@media (min-width: 48rem) {
  .new-comments-section {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    padding: 4.68vw;
  }
}
@media (min-width: 64rem) {
  .new-comments-section {
    width: 55vw;
    padding: 0 0 3.51% 0;
  }
}

.user-name__input-text {
  margin: 0 0 5vw 5vw;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .user-name__input-text {
    width: 83%;
  }
}
@media (min-width: 64rem) {
  .user-name__input-text {
    margin: 0 0 3.51vw 3.51vw;
  }
}
.user-name__label {
  margin: 0 0 0 5vw;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .user-name__label {
    font-size: 1.25rem;
  }
}
.user-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-comments__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.125rem;
}
@media (min-width: 48rem) {
  .user-comments__image {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}
.user-response {
  padding: 1rem;
  margin: 0 0 0 5vw;
}
@media (min-width: 48rem) {
  .user-response {
    width: 84%;
    margin: 0 0 0 3.51vw;
  }
}
.user-response__label {
  margin: 0 0 0 5vw;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .user-response__label {
    font-size: 1.5rem;
  }
}

.submit-button {
  color: white;
  font-size: 2rem;
  background-color: black;
  width: 93%;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
  align-self: flex-end;
}
@media (min-width: 48rem) {
  .submit-button {
    width: 45%;
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
  }
}
@media (min-width: 48rem) and (min-width: 64rem) {
  .submit-button {
    margin: 3.51vw 1rem 0 0;
  }
}

.comments__title {
  padding: 7.5vw 5vw 5vw 5vw;
}
@media (min-width: 48rem) {
  .comments__title {
    font-size: 2.25rem;
    padding: 6.25vw 4.68vw 4.68vw 4.68vw;
  }
}
.comments-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48rem) {
  .comments-section {
    margin: 4.68vw;
    width: 90%;
  }
}
.comments__divider {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px #AFAFAF solid;
  padding: 5vw;
  width: 100vw;
  box-sizing: border-box;
}
@media (min-width: 48rem) {
  .comments__divider {
    justify-content: space-between;
    width: 80vw;
  }
}
@media (min-width: 64rem) {
  .comments__divider {
    width: 56vw;
  }
}
.comments__sub-divider {
  width: 95%;
  padding: 0 0 0 5vw;
  display: flex;
  justify-content: space-between;
}
.comments-avatar {
  background-color: #AFAFAF;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.125rem;
}
@media (min-width: 48rem) {
  .comments-avatar {
    background-color: #AFAFAF;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}
.comments__name {
  font-weight: 600;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .comments__name {
    font-size: 1.5rem;
  }
}
.comments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.person__comments {
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0 0 0 5vw;
}

.user-button {
  padding: 1rem;
  margin: 1rem;
}/*# sourceMappingURL=bio.css.map */